<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>Patient Registration Form</h1>
    <form action="">
        {% csrf_token %} {% if error %}
        <li style="color:red">{{error}}</li>
        {% endif %}
        {{form.as_p}}
        <button type="submit">Signup</button>
        <a href="signin">signin</a>
    </form>
</body>

</html>